<form class="start_editor" style="font-size:12px;">
    <label>Register context keys:</label>
    <div class="form_wrapper"  style="margin-top:10px;max-height:200px;overflow-y:auto;">
        {% for key,value in config %}
            <div class="form_row" style="margin-bottom:8px;">
                <input style="width:70%;" type="text" name="key" value="{{ key }}" placeholder="Key"/>
                <button style="width:20%;" class="delete">Delete</button>
            </div>
        {% endfor %}
    </div>
    <button class="add">Add</button>
</form>
<script>
    var template = '<div class="form_row" style="margin-bottom:8px;">\n' +
        '            <input style="width:70%;" type="text" name="key" value="" placeholder="Key"/>\n' +
        '            <button style="width:20%;" class="delete">Delete</button>\n' +
        '        </div>';
    function editor_construct() {
        $('.start_editor').on('click','.add',function(e){
            e.preventDefault();
            $('.start_editor .form_wrapper').append(template);
        });
        $('.start_editor').on('click','.delete',function(e){
            $(this).parent().remove();
        });
    }
    function editor_destruct() {
        $('.start_editor').off('click','.add');
        $('.start_editor').off('click','.delete');
        var newForm = '';
        $('.start_editor .form_wrapper .form_row').each(function(){
            var key = $(this).find('input[name="key"]').val();
            var value = '';
            newForm += '<input type="text" name="'+key+'" value="'+value+'">';
        });
        $('.start_editor .form_wrapper').html(newForm);
    }
</script>