<form style="font-size:12px;">
    <div style="margin-bottom:20px;">
        <select name="valueprovider" style="width:150px;">
            {% for key in setter.getValueProviderNames() %}
                <option value="{{ key }}" {% if getValueSave(config,'valueprovider') == key %} selected="selected" {% endif %}>{{ key }}</option>
            {% endfor %}
        </select>
        <input style="width:150px;" type="text" name="valueprovider_value" value="{{ getValueSave(config,'valueprovider_value') }}" data-position=""/>
    </div>
    <div>
        <select name="valuetype" style="width:150px;">
            {% for key in setter.getValueTypeNames() %}
                <option value="{{ key }}" {% if getValueSave(config,'valuetype') == key %} selected="selected" {% endif %}>{{ key }}</option>
            {% endfor %}
        </select>
        <input style="width:150px;" type="text" name="valuetype_value" value="{{ getValueSave(config,'valuetype_value') }}" data-position=""/>
    </div>
    
</form>
<script>
    var available_autosuggests_value_provider = {{ setter.getAllValueProviderTerms()|json_encode|raw }};
    var available_autosuggests_value_type = {{ setter.getAllValueTypeTerms()|json_encode|raw }};
    
    function editor_construct() {
        var value_provider_autosuggest_values = available_autosuggests_value_provider[$('#dialog-editor-form .wrapper select[name="valueprovider"]').val()];
        $('#dialog-editor-form .wrapper').on("change",'select[name="valueprovider"]',function(e) {
            value_provider_autosuggest_values = available_autosuggests_value_provider[$(this).val()];
        });
        $('#dialog-editor-form .wrapper').on("focus",'input[name="valueprovider_value"]',function(e) {

            if ( !$(this).data("autocomplete") ) {
                $(this).autocomplete(
                    {
                        source: value_provider_autosuggest_values,
                        minLength: 1,
                        messages: {
                            noResults: '',
                            results: function() {$('body .ui-helper-hidden-accessible').hide();}
                        }
                    }
                );
            }
        });

        var value_type_autosuggest_values = available_autosuggests_value_type[$('#dialog-editor-form .wrapper select[name="valuetype"]').val()];
        $('#dialog-editor-form .wrapper').on("change",'select[name="valuetype"]',function(e) {
            value_type_autosuggest_values = available_autosuggests_value_type[$(this).val()];
        });
        $('#dialog-editor-form .wrapper').on("focus",'input[name="valuetype_value"]',function(e) {

            if ( !$(this).data("autocomplete") ) {
                $(this).autocomplete(
                    {
                        source: value_type_autosuggest_values,
                        minLength: 1,
                        messages: {
                            noResults: '',
                            results: function() {$('body .ui-helper-hidden-accessible').hide();}
                        }
                    }
                );
            }
        });
    }
    function editor_destruct() {
        $('#dialog-editor-form .wrapper').off("change",'select[name="valueprovider"]');
        $('#dialog-editor-form .wrapper').off("focus",'input[name="valueprovider_value"]');
        $('#dialog-editor-form .wrapper').off("change",'select[name="valuetype"]');
        $('#dialog-editor-form .wrapper').off("focus",'input[name="valuetype_value"]');
    }
</script>