<form>
    <label style="width:100%;">Processid</label>
    <input style="width:100%;" type="text" name="___name" value="{{ name }}" disabled/>
    <hr style="margin-top:20px;">
    {% for key,value in config %}
        <label style="width:100%;">{{ key }}</label>
        <input style="width:100%;" type="text" name="{{ key }}" value="{{ value }}"/>
    {% endfor %}
</form>