<form style="font-size:12px;">
    <p style="margin-bottom:2px;">Start process:</p>
    <select name="process" style="width:100%;">
        {% for key,name in processes %}
            <option value="{{ key }}" {% if getValueSave(config,'process') == key %} selected="selected" {% endif %}>{{ name }}</option>
        {% endfor %}
    </select>
</form>