<form class="placeholder_editor" style="font-size:12px;">
    <label style="width:100%;">Processid</label>
    <input style="width:100%;" type="text" name="___placeholder_name" value="{{ config.___placeholder_name is defined ? config.___placeholder_name:'' }}"/>
    <hr style="margin-top:20px;">
    <div class="form_wrapper" style="margin-top:10px;max-height:200px;overflow-y:auto;">
        {% for key,value in config %}
            {% if key != '___placeholder_name' %}
                <div class="form_row" style="margin-bottom:8px;">
                    <input style="width:35%;" type="text" name="key" value="{{ key }}" placeholder="Key"/>
                    <input style="width:35%;" type="text" name="value" value="{{ value }}" placeholder="Value"/>
                    <button style="width:20%;" class="delete">Delete</button>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <button class="add">Add</button>
</form>
<script>
    var template = '<div class="form_row" style="margin-bottom:8px;">\n' +
        '            <input style="width:35%;" type="text" name="key" value="" placeholder="Key"/>\n' +
        '            <input style="width:35%;" type="text" name="value" value="" placeholder="Value"/>\n' +
        '            <button style="width:20%;" class="delete">Delete</button>\n' +
        '        </div>';
    function editor_construct() {
        $('.placeholder_editor').on('click','.add',function(e){
            e.preventDefault();
            $('.placeholder_editor .form_wrapper').append(template);
        });
        $('.placeholder_editor').on('click','.delete',function(e){
            $(this).parent().remove();
        });
    }
    function editor_destruct() {
        $('.placeholder_editor').off('click','.add');
        $('.placeholder_editor').off('click','.delete');
        var newForm = '';
        $('.placeholder_editor .form_wrapper .form_row').each(function(){
            var key = $(this).find('input[name="key"]').val();
            var value = $(this).find('input[name="value"]').val();
            newForm += '<input type="text" name="'+key+'" value="'+value+'">';
        });
        $('.placeholder_editor .form_wrapper').html(newForm);
    }
</script>