<form style="font-size:12px;">
    <div style="margin-bottom:15px;">
        {{ include('@VisualProcessModule/Comparer/Resources/views/function_value_partial.html.twig',{'position':'left'}) }}
    </div>
    <div style="margin-bottom:15px; text-align:center;">
        {{ include('@VisualProcessModule/Comparer/Resources/views/operator_partial.html.twig') }}
    </div>
    <div style="margin-bottom:15px;">
        {{ include('@VisualProcessModule/Comparer/Resources/views/function_value_partial.html.twig',{'position':'right'}) }}
    </div>

</form>
<script>
    var available_autosuggests = {{ comparer.getAllValueProviderTerms()|json_encode|raw }};
    function editor_construct() {
        left_construct();
        right_construct();
    }
    function editor_destruct() {
        left_destruct();
        right_destruct();
    }
</script>