<div style="text-align:left;">
   <p style="width:40%;float:left;margin-bottom:1px;">Modifier</p>
   <p style="width:50%;float:left;margin-bottom:1px;">Valuetype</p>
</div>
<select name="{{ position }}_function" style="width:40%">
    {% for key in comparer.getFunctionNames() %}
        <option value="{{ key }}" {% if getValueSave(config,position~'_function') == key %} selected="selected" {% endif %}>{{ key }}</option>
    {% endfor %}
</select>
<select name="{{ position }}_valueprovider" style="width:50%;">
    {% for key in comparer.getValueProviderNames() %}
        <option value="{{ key }}" {% if getValueSave(config,position~'_valueprovider') == key %} selected="selected" {% endif %}>{{ key }}</option>
    {% endfor %}
</select>
<div style="text-align:left;">
    <p style="width:90%;float:left;margin-top:5px;margin-bottom:1px;">Value</p>
</div>
<input style="width:90%;" type="text" name="{{ position }}_value" value="{{ getValueSave(config,position~'_value') }}" data-position="{{ position }}"/>

<script>
    function {{ position }}_construct() {

        var {{ position }}_autosuggest_values = available_autosuggests[$('#dialog-editor-form .wrapper select[name="{{ position }}_valueprovider"]').val()];

        $('#dialog-editor-form .wrapper').on("change",'select[name="{{ position }}_valueprovider"]',function(e) {
            {{ position }}_autosuggest_values = available_autosuggests[$(this).val()];
        });

        $('#dialog-editor-form .wrapper').on("focus",'input[name="{{ position }}_value"]',function(e) {

            if ( !$(this).data("autocomplete") ) {
                $(this).autocomplete(
                    {
                        source: {{ position }}_autosuggest_values,
                        minLength: 1,
                        messages: {
                            noResults: '',
                            results: function() {$('body .ui-helper-hidden-accessible').hide();}
                        }
                    }
                );
            }
        });
    }
    function {{ position }}_destruct() {
        $('#dialog-editor-form .wrapper').off("change",'select[name="{{ position }}_valueprovider"]');
        $('#dialog-editor-form .wrapper').off("focus",'input[name="{{ position }}_value"]');
    }

</script>