<p style="margin-bottom:1px;">Operator</p>
<select name="operator" style="width:100px;">
    {% for key in comparer.getOperatorSigns() %}
        <option value="{{ key }}" {% if config.operator is defined and config.operator == key %} selected="selected" {% endif %}>{{ key }}</option>
    {% endfor %}
</select>